USE [master]
GO
/****** Object:  Database [social_media]    Script Date: 23-01-2024 16:13:29 ******/
CREATE DATABASE [social_media]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'social_media', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\social_media.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'social_media_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\social_media_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [social_media].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [social_media]
GO
/****** Object:  UserDefinedFunction [dbo].[cusDateDiff]    Script Date: 23-01-2024 16:13:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[cusDateDiff]
(
@date1 DateTime,
@date2 DATETIME
)
returns INT
as
begin
return DATEDIFF(DAY,@date1,@date2)
end;
GO
/****** Object:  UserDefinedFunction [dbo].[getFirstname]    Script Date: 23-01-2024 16:13:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[getFirstname]
(
@name NVARCHAR(50)
)
returns NVARCHAR(1)
as
begin
return LEFT(@name,1)
end;
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23-01-2024 16:13:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email_id] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[profile_picture] [varbinary](max) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 23-01-2024 16:13:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[content] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[media_type] [varchar](20) NULL,
	[media_url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[user_post]    Script Date: 23-01-2024 16:13:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[user_post] as select username,email_id,(select count(1) from Posts where user_id=Users.user_id)no_post from Users;
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 23-01-2024 16:13:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[content] [varchar](500) NOT NULL,
	[timestamp] [datetime] NULL,
	[likes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[post_view]    Script Date: 23-01-2024 16:13:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[post_view] as select content,(select username from Users where user_id=Posts.user_id)username,(select count(1) from Comments where post_id=Posts.post_id)no_coments from Posts
GO
/****** Object:  Table [dbo].[Friends]    Script Date: 23-01-2024 16:13:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friends](
	[user_id] [int] NOT NULL,
	[friend_id] [int] NOT NULL,
	[status] [varchar](20) NULL,
	[relationship_type] [varchar](20) NULL,
	[best_friend] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[friend_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Likes]    Script Date: 23-01-2024 16:13:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[user_id] [int] NOT NULL,
	[post_id] [int] NOT NULL,
	[liked_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 23-01-2024 16:13:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[content] [varchar](255) NOT NULL,
	[isRead] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([comment_id], [post_id], [user_id], [content], [timestamp], [likes]) VALUES (6, 4, 6, N'Nice post!', CAST(N'2024-01-19T15:41:33.267' AS DateTime), 2)
INSERT [dbo].[Comments] ([comment_id], [post_id], [user_id], [content], [timestamp], [likes]) VALUES (7, 2, 7, N'Great photo!', CAST(N'2024-01-19T15:41:33.267' AS DateTime), 1)
INSERT [dbo].[Comments] ([comment_id], [post_id], [user_id], [content], [timestamp], [likes]) VALUES (8, 3, 5, N'Interesting video!', CAST(N'2024-01-19T15:41:33.267' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
INSERT [dbo].[Friends] ([user_id], [friend_id], [status], [relationship_type], [best_friend], [created_at]) VALUES (1, 2, N'accepted', N'friend', 1, CAST(N'2024-01-19T15:38:24.070' AS DateTime))
INSERT [dbo].[Friends] ([user_id], [friend_id], [status], [relationship_type], [best_friend], [created_at]) VALUES (2, 3, N'pending', N'friend', 0, CAST(N'2024-01-19T15:38:24.070' AS DateTime))
INSERT [dbo].[Friends] ([user_id], [friend_id], [status], [relationship_type], [best_friend], [created_at]) VALUES (3, 1, N'accepted', N'friend', 0, CAST(N'2024-01-19T15:38:24.070' AS DateTime))
GO
INSERT [dbo].[Likes] ([user_id], [post_id], [liked_at]) VALUES (1, 2, CAST(N'2024-01-19T15:40:43.690' AS DateTime))
INSERT [dbo].[Likes] ([user_id], [post_id], [liked_at]) VALUES (2, 3, CAST(N'2024-01-19T15:40:43.690' AS DateTime))
INSERT [dbo].[Likes] ([user_id], [post_id], [liked_at]) VALUES (4, 3, CAST(N'2024-01-19T15:40:43.690' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([notification_id], [user_id], [content], [isRead], [created_at]) VALUES (1, 5, N'You have a new friend request.', 0, CAST(N'2024-01-19T15:38:24.073' AS DateTime))
INSERT [dbo].[Notifications] ([notification_id], [user_id], [content], [isRead], [created_at]) VALUES (2, 6, N'Your post received a new like.', 0, CAST(N'2024-01-19T15:38:24.073' AS DateTime))
INSERT [dbo].[Notifications] ([notification_id], [user_id], [content], [isRead], [created_at]) VALUES (3, 8, N'Your friend request has been accepted.', 0, CAST(N'2024-01-19T15:38:24.073' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([post_id], [user_id], [content], [created_at], [media_type], [media_url]) VALUES (1, 5, N'This is my first post!', CAST(N'2024-01-19T15:38:24.070' AS DateTime), N'text', NULL)
INSERT [dbo].[Posts] ([post_id], [user_id], [content], [created_at], [media_type], [media_url]) VALUES (2, 6, N'Check out this amazing photo!', CAST(N'2024-01-19T15:38:24.070' AS DateTime), N'image', N'https://example.com/images/photo1.jpg')
INSERT [dbo].[Posts] ([post_id], [user_id], [content], [created_at], [media_type], [media_url]) VALUES (3, 6, N'Just posted a video tutorial!', CAST(N'2024-01-19T15:38:24.070' AS DateTime), N'video', N'https://example.com/videos/tutorial.mp4')
SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [email_id], [password], [profile_picture], [is_active]) VALUES (1, N'JohnDoe123', N'johndoe@example.com', N'hashData1', NULL, 1)
INSERT [dbo].[Users] ([user_id], [username], [email_id], [password], [profile_picture], [is_active]) VALUES (2, N'JaneSmith456', N'janesmith@example.com', N'hashData2', NULL, 1)
INSERT [dbo].[Users] ([user_id], [username], [email_id], [password], [profile_picture], [is_active]) VALUES (3, N'BobJohnson789', N'bobjohnson@example.com', N'hashData3', NULL, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [so_postIndex]    Script Date: 23-01-2024 16:13:29 ******/
CREATE NONCLUSTERED INDEX [so_postIndex] ON [dbo].[Posts]
(
	[user_id] ASC,
	[content] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [so_userIndex]    Script Date: 23-01-2024 16:13:29 ******/
CREATE NONCLUSTERED INDEX [so_userIndex] ON [dbo].[Users]
(
	[username] ASC,
	[email_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT ((0)) FOR [likes]
GO
ALTER TABLE [dbo].[Friends] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Friends] ADD  DEFAULT ('friend') FOR [relationship_type]
GO
ALTER TABLE [dbo].[Friends] ADD  DEFAULT ((0)) FOR [best_friend]
GO
ALTER TABLE [dbo].[Friends] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Likes] ADD  DEFAULT (getdate()) FOR [liked_at]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [isRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[Posts] ([post_id])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Friends]  WITH CHECK ADD FOREIGN KEY([friend_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Friends]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[Posts] ([post_id])
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
/****** Object:  Trigger [dbo].[before_insert_users]    Script Date: 23-01-2024 16:13:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[before_insert_users]
ON [dbo].[Users]
instead of INSERT
AS
BEGIN
    PRINT 'BEFORE INSERT users Trigger executed';
END;
GO
ALTER TABLE [dbo].[Users] ENABLE TRIGGER [before_insert_users]
GO
/****** Object:  Trigger [dbo].[BeforeUpdateusers]    Script Date: 23-01-2024 16:13:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[BeforeUpdateusers]
ON [dbo].[Users]
FOR UPDATE
AS
BEGIN
  PRINT 'AFTER UPDATE users Trigger executed';
END;
GO
ALTER TABLE [dbo].[Users] ENABLE TRIGGER [BeforeUpdateusers]
GO
/****** Object:  Trigger [dbo].[trgBeforeDeleteusers]    Script Date: 23-01-2024 16:13:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trgBeforeDeleteusers]
ON [dbo].[Users]
for DELETE
AS
BEGIN
	PRINT 'AFTER DELETE users Trigger executed';
END;
GO
ALTER TABLE [dbo].[Users] ENABLE TRIGGER [trgBeforeDeleteusers]
GO
USE [master]
GO
